/*Reset*/
*{
    margin: 0;
    
    font-family:  Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*generics*/

.h-100{
    height: 100%;
}

header{
    background-image: url(/img/jumbo.png);
    max-width: 1250px;
    background-size: cover;
    min-height: fit-content;
    color: white;
}

.header-container{
    margin: 0 auto;
    padding-top: 20px;
    max-width: 80%;
    height: 20%;
    justify-content: space-between;
    align-items: center;
}
.jumbotrone{
    margin: 0 auto;
    max-width: 50%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 25px;
}

.flex{
    display: flex;
}


.h1-header{
    margin-top: 25px;
}

p{
    padding: 25px;
}

/*bottoni*/

.btn{
    width: fit-content;
    height: 35px;
    border-radius: 15px;
    background-color: white;
    border: none;
}
.lightsteelblue{
    background-color: lightsteelblue;
    color: white;
}

/*MAIN*/
main{
   max-width: 1250px;
}

section{
    height: 400px;
    padding: 60px 0;
    height: fit-content;
}
.bg-white{
    background-color: white;
}
.bg-grey{background-color: hsl(0, 3%, 72%);}

.main-container{
    width: 80%;
    margin: 0 auto;
    align-items: flex-start;
}

.col-large{

    flex-basis: 60%;
}
.col-small{
    flex-basis: 40%;
}

.border{
    border: 1px dashed black;
}

.row-reverse{
    flex-direction: row-reverse;
}
.h1-main{
    font-size: xx-large;
    margin-top: 25px;
}
p{
    padding: 25px 0;
}
.section-flex{
    display: flex;
    justify-content: center;
}
.last-main{
    width: 80%;
    flex-direction: column;
    align-items: center;
}

/*FOOTER*/
footer{
    max-width: 1250px;
}


.footer-container{
   width: 1250;
   height: 800px;
   background-color: #23272A;
}


.footer-sup{
    width: 80%;
    margin: 0 auto;
    display: flex;
    color: white;
    justify-content: space-evenly;
}

h2{
    color: lightsteelblue;
}
.span-logo{
    align-items: center;
    padding: 20px 0;
    height: 40px;
}

.logo-ita{
    height: 15px;
}

.social-logo{
    color: white;
    width: 60%;
    justify-content: space-between;
}
    
ul{
    list-style-type: none;
    padding: 10px 0px;
}
li{
    padding: 5px 0;
}

.last-border{
    border-bottom: 1px solid lightslategrey;
}

/*FOOTER INFERIORE*/
.footer-inf{
    width: 80%;
    margin: 0 auto;
    display: flex;
    color: white;
    justify-content: space-evenly;
}
